.chat-room-body {
  margin: 0;
  padding: 0;
  background-color: #b2c7d9;
}

.chat-room-header {
  padding: 20px;
  background-color: #a9bdce;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.chat-room-header__profile__column {
  position: relative;
}

.cahat-room-header__profile__image {
  width: 45px;
  height: 45px;
  border-radius: 18px;
  background-color: skyblue;
}

.cahat-room-header__profile__image i {
  font-size: 20px;
  opacity: 0.5;
  color: white;
  position: absolute;
  left: 14px;
  top: 12px;
}

.chat-room-header__profile {
  display: flex;

  align-items: center;
}

.chat-room-header__profile__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.chat-room-header__profile__column:nth-child(2) {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-room-header__profile__btn:nth-child(2) {
  position: fixed;
  right: 10px;
}

.chat-room-header__profile__btn .fa-bell {
  margin: 10px 10px;
}

.chat-room-header nav {
  position: fixed;
  top: 0;
  right: 0;
}

.chat-room-main {
  margin-top: 85px;
  padding: 30px 15px;
  margin-bottom: 100px;
}

.your-chat {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.your-chat__column:nth-child(1) {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: skyblue;
  margin-right: 5px;
}

.your-chat__column:nth-child(1) i {
  font-size: 20px;
  opacity: 0.5;
  color: white;
  position: absolute;
  left: 12px;
  top: 10px;
}

.your-chat__column:nth-child(2) span {
  font-size: 13px;
}

.your-chat__chat {
  height: 20px;
  padding: 10px 10px 5px 10px;
  border-radius: 0 15px 15px 15px;
  background-color: white;
  font-size: 15px;
  margin-top: 10px;
  display: flex;
}

.your-chat__time {
  height: 100%;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-left: 8px;
}

.my-chat {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.my-chat__chat {
  height: 20px;
  padding: 8px 10px 5px 10px;
  border-radius: 15px 0px 15px 15px;
  background-color: #ffec42;
  font-size: 13px;
  margin-top: 10px;
}

.my-chat__time {
  height: 100%;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
}
