#login-body {
  margin: 0;
  padding: 0;
}

.login-nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
  margin-top: 20px;
  margin-right: 10px;
}

.login-nav__column {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.login-main__kakaotalk-logo {
  margin-bottom: 50px;
}

.login-main__kakaotalk-logo img {
  width: 35%;
  display: block;
  margin: 0 auto;
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.login-form__column:nth-child(1) input,
.login-form__column:nth-child(2) input {
  font-size: 12px;
  width: 280px;
  height: 33px;
  border: 0.1px solid rgba(0, 0, 0, 0.03);
  padding-left: 8px;
}

.login-form__column input::placeholder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.35);
}

.login-form__column:first-child i {
  position: absolute;
  top: 10px;
  right: 110px;
  color: rgba(0, 0, 0, 0.6);
}

.login-form__column:nth-child(2) {
  margin-bottom: 5px;
}

.login-form__column:nth-child(3) {
  margin-bottom: 5px;
}

.login-form__column:nth-child(3) input {
  width: 293px;
  height: 38px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
  border: 0.1px solid rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.login-form__column:nth-child(4) {
  display: flex;
  align-items: center;
  width: 62%;
  margin-left: 10px;
}

.login-form__column:nth-child(4) span {
  font-size: 12px;
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.5);
}

.login-form__column:nth-child(4) i {
  color: rgba(0, 0, 0, 0.2);
  margin-top: 2px;
}

.login-main__inquery-column {
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
}

.login-main__inquery-column span:nth-child(2) {
  margin: 0 10px;
}
