.advertisement {
  display: flex;
  align-items: center;
}

.advertisement__column:nth-child(1) img {
  width: 150px;
  height: 70px;
}

.advertisement__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.advertisement__column:nth-child(2) .advertisement__info {
  width: 80%;
  font-weight: bold;
  line-height: 1.3;
}

.advertisement__column:nth-child(2) .advertisement__company {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin-top: 10px;
}

.chat-room-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 10px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 15%;
  background-color: #f5f5f5;
}

.chat-room-footer__textarea {
  display: flex;
}

.chat-room-footer__textarea textarea {
  border: none;
  width: 80%;
  height: 10vh;
  resize: none;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.chat-room-footer__textarea textarea:focus {
  outline: none;
}

.chat-room-footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 35%;
}

.chat-room-footer__submit {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 10%;
  padding: 7px;
  text-align: center;
  height: 10%;
  font-size: 13px;
  cursor: pointer;
}
