#no-mobile {
  display: none;
}

@media screen and (min-width: 645px) {
  #no-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fbe300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  body {
    overflow: hidden;
  }
}

#no-landscape {
  display: none;
}

@media screen and (orientation: landscape) {
  #no-landscape {
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #fbe300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    position: fixed;
    top: 0;
    left: 0;
  }
  body {
    overflow: hidden;
  }
}
