#no-mobile {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #fbe300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

#no-landscape {
  display: none;
}

@media screen and (orientation: landscape) {
  #no-landscape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #fbe300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
}
