.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 15px;
}

.nav-bar i:nth-child(2) {
  margin: 0 10px;
}
